<div class="global-container">
  <p>Question {{ current }} / {{ total }}</p>

  <!-- jauge VERTICALE -->
  <div class="jauge-vertical" [class.horizontal]="isMobile">
    <div
      class="jauge-section ok"
      [style.height.%]="!isMobile ? (stats.ok  / total) * 100 : null"
      [style.width.%]="isMobile ? (stats.ok / total) * 100 : null"
    ></div>
    <div
      class="jauge-section bof"
      [style.height.%]="!isMobile ? (stats.bof  / total) * 100 : null"
      [style.width.%]="isMobile ? (stats.bof / total) * 100 : null"
    ></div>
    <div
      class="jauge-section ko"
      [style.height.%]="!isMobile ? (stats.ko  / total) * 100 : null"
      [style.width.%]="isMobile ? (stats.ko / total) * 100 : null"
    ></div>
  </div>

  <div class="stats">
    <span class="font-ko">{{ stats.ko }}</span>
    <span class="font-bof">{{ stats.bof }}</span>
    <span class="font-ok">{{ stats.ok }}</span>
  </div>
</div>
