# ─── Java / Maven ────────────────────────────────────────────────
# ignore tous les dossiers target (backend ou dans src)
/**/target/
/**/build/

# conserve le wrapper Maven
!**/.mvn/wrapper/maven-wrapper.jar

# ─── Node / Angular ─────────────────────────────────────────────
# dependencies & output (frontend ou tout autre projet JS)
**/node_modules/
/**/dist/
/**/tmp/
/**/out-tsc/
/**/.angular/cache/

# logs JS
npm-debug.log*
yarn-error.log*

# ─── IDEs et éditeurs ──────────────────────────────────────────
# IntelliJ, STS, Eclipse…
.idea/
/*.iml
/*.ipr
/*.iws
/.classpath
/.project
/.settings/

# VS Code workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# autres éditeurs
*.sublime-workspace
.c9/

# ─── Divers ───────────────────────────────────────────────────
# coverage, saas, etc.
**/coverage/
/**/.sass-cache/
/connect.lock
testem.log

# fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement
.env
