<div class="dashboard-container">
  <h1>Dashboard</h1>

  <div class="inner-container">
    <div class="stats">
      <h2>Statistiques</h2>
    </div>

    <div class="actions">
      <h2>Actions</h2>
      @if (role$ | async; as role ) {
      <div class="links">
        @if (role === "ROLE_ADMIN") {
        <a href="gestion-questions">Gérer les questions</a>
        <a>Gérer les sujets</a>
        <a>Voir les propositions de question</a>
        } @else {
        <a>Proposer une question</a>
        }
        <a (click)="logOut()">Se déconnecter</a>
        <a>Supprimer mon compte</a>
      </div>
      }
    </div>
  </div>
</div>
