<div class="global-container">
  <app-filter (selectionChange)="onFilterChange($event)"></app-filter>

  @if (currentQuestion$ | async; as current) {
  <app-question-card
    (nextQuestion)="nextQuestion()"
    (nextSet)="nextPage()"
    (pushEvaluation)="evaluate($event, current)"
    [question]="current"
    [total]="maxQuestions"
    [questionIndex]="questionIndex"
  ></app-question-card>

  <app-progress
    [current]="questionIndex"
    [total]="maxQuestions"
    [stats]="getStats()"
    >
  </app-progress>
  }
</div>
