body {
  color: var(--my-dark-color);
}

.global-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
  }

// Ajustements mobiles
@media screen and (max-width: 768px) {
  .global-container {
    padding: 5px;
    margin-top: 15px;
    flex-direction: column;
    width: 100%;
  }

  .global-container > * {
    margin-bottom: 15px;
  }

}