@if (isVisitor$ | async) {
  <p class="banner visitor-banner">
      Mode visiteur – connectez-vous pour enregistrer vos résultats et obtenir des questions adaptées
    </p>
} @else {
  @if (user$ | async; as me) {
    <p class="banner welcome-banner">
      Salut {{ me.username }} !
    </p>
  }
}

<div class="global-container">
  <app-filter (selectionChange)="onFilterChange($event)"></app-filter>

  @if (currentQuestion$ | async; as current) {
  <app-question-card
    (nextQuestion)="nextQuestion()"
    (nextSet)="nextPage()"
    (pushEvaluation)="evaluate($event, current)"
    [question]="current"
    [total]="maxQuestions"
    [questionIndex]="questionIndex"
  ></app-question-card>

  <app-progress
    [current]="questionIndex"
    [total]="maxQuestions"
    [stats]="getStats()"
    >
  </app-progress>
  }
</div>
