@if(question) {

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>Niveau {{ question.level }}</span>
      <span>{{ question.topicName | lowercase }}</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="question">{{ question.title }}</p>
    @if (showAnswer ) {
    <p class="answer">{{question.answer}}</p>
    }
  </mat-card-content>

  <mat-card-actions>
    <button
      *ngIf="!showAnswer"
      mat-button
      color="primary"
      (click)="toggleAnswer()"
    >
      Voir la réponse
    </button>

    <button
      *ngIf="showAnswer && !isEvaluated"
      mat-button
      class="grey"
      (click)="evaluate(0)"
    >
      Pas du tout
    </button>
    <button
      *ngIf="showAnswer && !isEvaluated"
      mat-button
      class="pink"
      (click)="evaluate(1)"
    >
      Bof
    </button>
    <button
      *ngIf="showAnswer && !isEvaluated"
      mat-button
      class="blue"
      (click)="evaluate(2)"
    >
      C'est bon
    </button>

    <button
      *ngIf="showAnswer && isEvaluated && questionIndex !== total"
      mat-button
      color="primary"
      (click)="onNextQuestion()"
    >
      Question suivante
    </button>
    <button
      *ngIf="showAnswer && isEvaluated && questionIndex === total"
      mat-button
      color="primary"
      (click)="onNextSet()"
    >
      Série suivante ?
    </button>
  </mat-card-actions>
</mat-card>

}
